.image-properties{
    height: 100%;
    width: 100%;
    filter: brightness(-25);
    opacity: 1.2;
}
img { 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
}

img:hover {
  
}
